# MySQL Basics

### 1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of that data. Databases are commonly used in various applications and systems to store and manage information, ranging from simple lists to complex, structured data. They serve as a reliable and centralized repository for data, making it easier to perform operations like querying, updating, and analyzing information.

There are two primary categories of databases: SQL (Structured Query Language) databases and NoSQL (Not Only SQL) databases. Here's how they differ:

SQL Databases:
1. Structure: SQL databases are relational databases that use a structured schema to define the data's organization. Data is stored in tables with predefined columns, and relationships between tables are established through keys (foreign keys).
2. Data Consistency: SQL databases enforce ACID (Atomicity, Consistency, Isolation, Durability) properties, which ensure data consistency and reliability. Transactions are either completed entirely or not at all.
3. Query Language: SQL databases use the SQL query language for data manipulation and retrieval. SQL is a powerful and standardized language for interacting with relational databases.
4. Scaling: SQL databases are typically scaled vertically, which means adding more resources (CPU, RAM, storage) to a single server to handle increased load. This can become expensive and has limits in terms of scalability.
5. Use Cases: SQL databases are suitable for applications with complex data relationships, where data consistency is critical. They are commonly used in traditional business applications and systems, like customer relationship management (CRM) and e-commerce.

NoSQL Databases:
1. Structure: NoSQL databases are non-relational databases that do not require a fixed schema. They can store unstructured, semi-structured, or structured data. Data is often stored in flexible formats like JSON or XML documents, key-value pairs, or graph data structures.
2. Data Consistency: NoSQL databases often prioritize performance and scalability over strong consistency. They may provide options for eventual consistency, where data may take some time to synchronize across distributed nodes.
3. Query Language: NoSQL databases use various query languages, depending on the database type. Some use SQL-like languages, while others offer APIs or custom query languages designed for specific use cases.
4. Scaling: NoSQL databases are typically scaled horizontally, which means distributing data across multiple servers or nodes. This makes them more suitable for handling large amounts of data and high traffic loads.
5. Use Cases: NoSQL databases are well-suited for applications with rapidly evolving data requirements, high scalability needs, and where data flexibility is essential. They are commonly used in web applications, real-time analytics, content management systems, and big data applications.

SQL databases are relational, structured, and prioritize data consistency, while NoSQL databases are non-relational, flexible, and emphasize performance and scalability. The choice between SQL and NoSQL databases depends on the specific requirements and constraints of a given project.

### 2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database. DDL statements are responsible for creating, altering, and deleting database objects such as tables, indexes, and constraints. They do not directly manipulate the data stored within the database; instead, they define the data structure and the rules for data storage.

Here are the key DDL statements and their purposes, along with examples:

1. CREATE:
   - Purpose: The CREATE statement is used to create new database objects, such as tables, indexes, views, and schemas.
   - Example: To create a new table in a database for storing information about employees, you would use a CREATE TABLE statement. Here's an example:


   ```sql
   CREATE TABLE Employee (
       EmployeeID INT PRIMARY KEY,
       FirstName VARCHAR(50),
       LastName VARCHAR(50),
       DepartmentID INT,
       Salary DECIMAL(10, 2)
   );
   ```

   This statement creates a table named "Employee" with columns for EmployeeID, FirstName, LastName, DepartmentID, and Salary.

2. DROP:
   - Purpose: The DROP statement is used to remove database objects, such as tables, indexes, views, and schemas.
   - Example: To delete the "Employee" table created earlier, you would use a DROP TABLE statement. Here's an example:

   ```sql
   DROP TABLE Employee;
   ```

   This statement removes the "Employee" table and all the data it contains from the database.

3. ALTER:
   - Purpose: The ALTER statement is used to modify the structure of existing database objects. It allows you to add, modify, or delete columns and constraints, among other things.
   - Example: Let's say you want to add a new column called "HireDate" to the "Employee" table. You would use an ALTER TABLE statement like this:

   ```sql
   ALTER TABLE Employee
   ADD HireDate DATE;
   ```

   This statement adds a new column named "HireDate" of the DATE data type to the "Employee" table.

4. TRUNCATE:
   - Purpose: The TRUNCATE statement is used to remove all the data from a table while keeping the table structure intact. It's a faster alternative to DELETE for removing all rows from a table.
   - Example: If you want to remove all employee records from the "Employee" table, you can use the TRUNCATE TABLE statement like this:

   ```sql
   TRUNCATE TABLE Employee;
   ```

   This statement deletes all the rows in the "Employee" table but leaves the table structure in place.

In summary, DDL statements (CREATE, DROP, ALTER, and TRUNCATE) are essential for defining and managing the structure of a database. They allow you to create, modify, and delete database objects, as well as control the data stored in those objects. These statements are crucial for database administrators and developers when designing and maintaining a database schema.

### 3.  What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for manipulating data stored in a database. DML statements are responsible for performing operations such as inserting new data, updating existing data, and deleting data from database tables. They allow you to interact with and modify the actual records within the database. Here are the key DML statements and their purposes, along with examples:

1. INSERT:
   - Purpose: The INSERT statement is used to add new records (rows) into a database table.
   - Example: Let's say you have a table named "Customers," and you want to insert a new customer record into it. Here's an example of how you would use the INSERT statement:

   ```sql
   INSERT INTO Customers (CustomerID, FirstName, LastName, Email)
   VALUES (1, 'John', 'Doe', 'john.doe@email.com');
   ```

   This statement inserts a new customer record into the "Customers" table with the specified values for the CustomerID, FirstName, LastName, and Email columns.

2. UPDATE:
   - Purpose: The UPDATE statement is used to modify existing records in a database table.
   - Example: Let's say you want to update the email address for a customer in the "Customers" table based on their CustomerID. Here's an example of how you would use the UPDATE statement:

   ```sql
   UPDATE Customers
   SET Email = 'new_email@email.com'
   WHERE CustomerID = 1;
   ```

   This statement updates the Email column for the customer with a CustomerID of 1 to the new email address.

3. DELETE:
   - Purpose: The DELETE statement is used to remove specific records from a database table.
   - Example: If you want to delete a customer record from the "Customers" table based on their CustomerID, you would use the DELETE statement like this:

   ```sql
   DELETE FROM Customers
   WHERE CustomerID = 1;
   ```

   This statement deletes the customer record with a CustomerID of 1 from the "Customers" table.

In summary, DML statements (INSERT, UPDATE, and DELETE) are used to manipulate the data stored in a database. They allow you to insert new records, modify existing records, and delete records from database tables, enabling you to interact with and maintain the actual data within the database. These statements are fundamental for managing and maintaining the contents of a database.

### 4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. DQL focuses on selecting and retrieving data from one or more database tables. The primary DQL statement is the SELECT statement, which allows you to specify the data you want to retrieve from the database. Here's an explanation of the SELECT statement with an example:

SELECT Statement:
- Purpose: The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve, the tables you want to query, and conditions for filtering the data.

Example:
Suppose you have a database with a table named "Employees," and you want to retrieve the first and last names of all employees who work in the "Sales" department. You can use the SELECT statement to achieve this:

```sql
SELECT FirstName, LastName
FROM Employees
WHERE Department = 'Sales';
```

In this example:

1. `SELECT FirstName, LastName` specifies that you want to retrieve the values of the "FirstName" and "LastName" columns from the "Employees" table.

2. `FROM Employees` indicates that you are querying the "Employees" table.

3. `WHERE Department = 'Sales'` specifies a condition that filters the results. It retrieves only the rows where the "Department" column has the value "Sales."

The result of this query would be a list of first and last names of employees working in the "Sales" department.

You can use the SELECT statement in various ways to retrieve data from one or more tables, perform calculations, join tables, and more. It is a fundamental tool for extracting and analyzing data from a database, and it can be customized to meet specific data retrieval requirements.

### 5. Explain Primary Key and Foreign Key.

Primary Key and Foreign Key are two fundamental concepts in database design that define the relationships between tables and ensure data integrity. They play a crucial role in maintaining the structure and integrity of relational databases.

1. Primary Key:
   - Purpose: A Primary Key is a column or a set of columns in a database table that uniquely identifies each record (row) in that table. It ensures that every row has a distinct and non-null identifier, which is essential for data integrity and for maintaining the uniqueness of records.
   - Characteristics:
     - Uniqueness: No two rows in the table can have the same values in the Primary Key column(s).
     - Non-null: The Primary Key column(s) must have a value for every row.
   - Example: In a table of "Students," you might have a column named "StudentID" as the Primary Key. Each student would have a unique StudentID, ensuring that no two students share the same identifier.

2. Foreign Key:
   - Purpose: A Foreign Key is a column (or a set of columns) in one table that establishes a link or relationship to the Primary Key of another table. It enforces referential integrity, ensuring that data in the referencing table is consistent with the data in the referenced table.
   - Characteristics:
     - It references the Primary Key of another table.
     - It helps maintain data consistency by preventing actions that would create orphaned records or violate referential integrity.
   - Example: In a database with "Students" and "Courses" tables, you can establish a relationship between them using a Foreign Key. The "Courses" table may have a Foreign Key called "StudentID," which references the "StudentID" column in the "Students" table. This enforces that a "Course" record is associated with an existing student, preventing the creation of courses for non-existent students.

The Primary Key uniquely identifies records within a single table, while the Foreign Key establishes relationships between tables by referencing the Primary Key of another table. These keys are crucial for maintaining data consistency, integrity, and for creating structured relationships within a relational database.

### 6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, you can use the `mysql-connector` library. If you haven't installed it yet, you can do so using pip:

```bash
pip install mysql-connector-python
```

Here's a Python code example that connects to a MySQL database, creates a connection, and then uses the `cursor()` and `execute()` methods to interact with the database:

In [ ]:
import mysql.connector

# Create a connection to the MySQL database
conn = mysql.connector.connect(
    host="your_host",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Execute SQL queries using the cursor
try:
    # Example 1: Execute a SELECT query
    cursor.execute("SELECT * FROM your_table")
    results = cursor.fetchall()
    for row in results:
        # Process the retrieved data
        print(row)

    # Example 2: Execute an INSERT query
    insert_query = "INSERT INTO your_table (column1, column2) VALUES (%s, %s)"
    data_to_insert = ("value1", "value2")
    cursor.execute(insert_query, data_to_insert)
    conn.commit()  # Commit the changes to the database

    # Example 3: Execute an UPDATE query
    update_query = "UPDATE your_table SET column1 = %s WHERE column2 = %s"
    data_to_update = ("new_value", "value2")
    cursor.execute(update_query, data_to_update)
    conn.commit()  # Commit the changes to the database

    # Example 4: Execute a DELETE query
    delete_query = "DELETE FROM your_table WHERE column2 = %s"
    value_to_delete = "value2"
    cursor.execute(delete_query, (value_to_delete,))
    conn.commit()  # Commit the changes to the database

except Exception as e:
    print(f"Error: {e}")

# Close the cursor and the connection when done
cursor.close()
conn.close()

Explanation:

1. `mysql.connector.connect`: This function establishes a connection to the MySQL database using the specified connection parameters.

2. `cursor()`: The `cursor()` method is used to create a cursor object. A cursor is an object that allows you to execute SQL queries and fetch results from the database. You can think of it as a pointer or a context for your SQL operations.

3. `execute()`: The `execute()` method of the cursor is used to execute SQL queries. You pass your SQL query as a parameter to this method. In the examples above, we used it to execute SELECT, INSERT, UPDATE, and DELETE queries. For queries with placeholders (e.g., `%s`), you can provide the data as a separate parameter to prevent SQL injection. After executing a query that modifies the data, it's important to call `conn.commit()` to save the changes to the database.

Finally, you should close the cursor and the database connection using `cursor.close()` and `conn.close()` to release resources and ensure proper cleanup.

### 7.  Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the clauses are typically executed in a specific order, and the sequence of execution is as follows:

1. FROM: The FROM clause is the first to be executed. It specifies the source tables from which the data will be retrieved or used in the query. If the query involves multiple tables, they are joined together at this stage.

2. WHERE: The WHERE clause follows the FROM clause. It is used to filter rows from the tables specified in the FROM clause based on a specified condition. Rows that do not meet the condition are excluded from further processing.

3. GROUP BY: If the query includes a GROUP BY clause, it is processed next. This clause is used to group rows into sets based on the values in one or more columns. Aggregation functions (e.g., SUM, COUNT, AVG) can then be applied to each group of rows.

4. HAVING: The HAVING clause is used in conjunction with the GROUP BY clause. It allows you to filter groups of rows created by the GROUP BY clause based on specific conditions. Groups that do not meet the condition are excluded.

5. SELECT: The SELECT clause is executed after the previous clauses. It specifies the columns to be included in the result set. Any expressions, calculations, or transformations defined in the SELECT clause are also performed at this stage.

6. ORDER BY: If an ORDER BY clause is present in the query, it is executed after the SELECT clause. It is used to sort the rows in the result set based on one or more columns in ascending or descending order.

7. LIMIT/OFFSET (if applicable): If the query includes a LIMIT and/or OFFSET clause, it is executed last. These clauses are used to restrict the number of rows returned and to implement pagination.

It's important to note that not all queries contain all these clauses. The order of execution may vary depending on the specific query and the clauses used. However, this order of execution provides a general guideline for understanding how SQL queries are processed and how each clause affects the result.